body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 10px;
}

/* nav bar */

.topnav {
  overflow: hidden;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(242,252,254,.6), rgba(194, 240, 240, .6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(242,252,254,.6), rgba(194, 240, 240, .6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
}

.topnav a {
  float: left;
  color: #5B86E5;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #247D95;
    transition: width .3s;
}

.topnav a:hover::after {
    width: 100%;
}

.topnav-right {
  float: right;
  bottom: 6px;
  font-weight: 800;
}

/* body text */
.block {
  background-color: rgba(194,194,240,.6);
  border-radius: 12px;
  float: right;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.exp {
  text-align: left;
  float: left;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  background-color: rgba(194,194,240,.6);
  margin-bottom: 30px;
}
h1 {
  padding: 3px;
  border-bottom: solid 4px #247D95;
}
h2 {
  text-align: left;
  line-height: 150%;
}
.hidden{
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  display: none;
  border-top: solid 4px #247D95;
}
.hidden h2, .hidden h3, .outputValue {
  animation: fadein 3s ease-in alternate 1;
  -webkit-animation: fadeIn 3s ease-in alternate 1;
  -moz-animation: fadeIn 3s ease-in alternate 1;
  text-align: center;
}


/*animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* Variables */
.age {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: solid 2px #247D95;
  border-radius: 12px;
  background-color: #C2F0F0;
  color: #247D95;
  width: 120px;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  padding: 5px;
}
.age:hover {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
.selectMenu, .radioMenu, .isNeuteredMenu, .isObeseProneMenu, .weightMenu, .idealWeightMenu {
  text-align: center;
  font-size: 18px;
}
.dot {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  background-color: #C2F0F0;
  color: #247D95;
  top: 4px;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  display: inline-block;
  position: relative;
  border: solid 2px #247D95;
}
.dot:hover {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
.dot:checked {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
#weight, #idealWeight {
  background-color: #C2F0F0;
  border: solid 2px #247D95;
  border-radius: 12px;
  color: #247D95;
  font-size: 18px;
}
.calcButtonMenu {
  text-align: center;
  border-top: solid 4px #247D95;
  margin-top: 12px;
}
.calcButton {
  margin-top: 12px;
  font-size: 28px;
  border-radius: 12px;
  background-color: #C2F0F0;
  color: #247D95;
  font-family: 'Raleway', sans-serif;
  border: solid 2px #247D95;
}
.calcButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.calcButton span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.calcButton:hover span {
  padding-right: 25px;
}

.calcButton:hover span:after {
  opacity: 1;
  right: 0;
}
.calcButton:hover {
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
