body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 3%;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  margin: none;
  text-align: center;
  -webkit-animation: color_change 8s infinite;
  -moz-animation: color_change 8s infinite;
  -o-animation: color_change 8s infinite;
  -ms-animation: color_change 8s infinite;
  animation: color_change 8s infinite;
  font-weight: 700;
}
/* nav bar */

.topnav {
  overflow: hidden;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(242,252,254,.6), rgba(194, 240, 240, .6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(242,252,254,.6), rgba(194, 240, 240, .6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.topnav a {
  float: left;
  color: #5B86E5;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 5%;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.topnav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #247D95;
    transition: width .3s;
}

.topnav a:hover::after {
    width: 100%;
}

.topnav-right{
  float: right;
}

/* body text */
.block {
  background-color: rgba(194,194,240,.6);
  border-radius: 12px;
  float: right;
  margin-top: 2.1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  margin-bottom: 2.1%;
  font-weight: 400;
}
.exp {
  text-align: left;
  float: left;
  margin-top: 2.1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 12px;
  background-color: rgba(194,194,240,.6);
  margin-bottom: 2.1%;
}
h1 {
  padding: 1%;
  border-bottom: solid 4px #247D95;
}
h2 {
  text-align: left;
  line-height: 150%;
  font-weight: 400;
}
.hidden{
  padding-top: 3%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  display: none;
  border-top: solid 4px #247D95;
}
.hidden h2, .hidden h3, .outputValue {
  animation: fadein 3s ease-in alternate 1;
  -webkit-animation: fadeIn 3s ease-in alternate 1;
  -moz-animation: fadeIn 3s ease-in alternate 1;
  text-align: center;
  font-weight: 700;
}
.outputValue {
  font-size: 25px;
}


/*animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% {
      color: #5B86E5;
    }
    50% {
      color: #36D1DC;
    }
    100% {
      color: #5B86E5
    }
}
@-webkit-keyframes color_change {
  0% {
    color: #5B86E5;
  }
  50% {
    color: #36D1DC;
  }
  100% {
    color: #5B86E5
  }
}
@-moz-keyframes color_change {
  0% {
    color: #5B86E5;
  }
  50% {
    color: #36D1DC;
  }
  100% {
    color: #5B86E5
  }
}
@-ms-keyframes color_change {
  0% {
    color: #5B86E5;
  }
  50% {
    color: #36D1DC;
  }
  100% {
    color: #5B86E5
  }
}
@-o-keyframes color_change {
  0% {
    color: #5B86E5;
  }
  50% {
    color: #36D1DC;
  }
  100% {
    color: #5B86E5
  }
}
@keyframes color_change {
  0% {
    color: #5B86E5;
  }
  50% {
    color: #36D1DC;
  }
  100% {
    color: #5B86E5
  }
}
/* Variables */
h3 {
  font-size: 21px;
}
.age {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border: solid 2px #247D95;
  border-radius: 12px;
  background-color: #C2F0F0;
  color: #247D95;
  width: 120px;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  padding: 1%;
}
.age:hover {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
.selectMenu, .radioMenu, .isNeuteredMenu, .isObeseProneMenu, .weightMenu, .idealWeightMenu {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.dot {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  background-color: #C2F0F0;
  color: #247D95;
  top: 6px;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 3%;
  display: inline-block;
  position: relative;
  border: solid 2px #247D95;
}
.dot:hover {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
.dot:checked {
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
#weight, #idealWeight {
  background-color: #C2F0F0;
  border: solid 2px #247D95;
  border-radius: 12px;
  color: #247D95;
  font-size: 18px;
}
.calcButtonMenu {
  text-align: center;
  border-top: solid 4px #247D95;
  margin-top: 3%;
}
.calcButton {
  margin-top: 3%;
  font-size: 28px;
  border-radius: 12px;
  background-color: #C2F0F0;
  color: #247D95;
  font-family: 'Raleway', sans-serif;
  border: solid 2px #247D95;
}
.calcButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.calcButton span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.calcButton:hover span {
  padding-right: 25px;
}

.calcButton:hover span:after {
  opacity: 1;
  right: 0;
}
.calcButton:hover {
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  background-color: #5B86E5;
  border-color: #C2F0F0;
  color: #C2F0F0;
}
