body {
  background-color: #E8E8E8;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  display: inline;
  float: left;
}
li a {
  display: block;
  width: auto;
}
a {
  display: block;
  padding: 8px;
  text-decoration: none;
}
